<div class="b-page b-phrase-details" ng-hide="vm.isLoading">
    <h2>Details</h2>

    <div>
        <div class="b-row b-phrase-details-phrase">
            <div class="b-phrase-details-phrase__language">
                <language-flag language-id="vm.phrase.languageId">
                </language-flag>
            </div>
            <div class="b-phrase-details-phrase__text">
                {{vm.phrase.text}}
            </div>
        </div>                
        <hr/>
        <div>
            Translation options:
        </div>
        <div class="b-phrase-details-translations">
            <div class="b-row b-phrase-details-translation"
                 ng-repeat="translation in vm.phrase.translations">
                <div class="b-phrase-details-translation__prevalence">
                    <div class="b-non-empty b-phrase-details-translation__prevalence-marker-container"
                         title="{{ translation.prevalence > 30 ?
                                   'Usual translation' :
                                    translation.prevalence <= 20 ? 'Rare translation' : 'Unusual translation' }}">
                        <div class="b-non-empty b-phrase-details-translation__prevalence-marker"
                             ng-class="{
                                'b-phrase-details-translation__prevalence-marker_usual': translation.prevalence > 30,
                                'b-phrase-details-translation__prevalence-marker_unusual': translation.prevalence > 20 && translation.prevalence <= 30,
                                'b-phrase-details-translation__prevalence-marker_rare': translation.prevalence <= 20
                             }">

                        </div>
                    </div>
                </div>
                <div class="b-phrase-details-translation__text">
                    <a href="#phrases/details/{{translation.id}}">
                        {{translation.text}}
                    </a>
                </div>
                <div class="b-phrase-details-translation__synonims">
                    <a ng-repeat="synonim in translation.synonims"
                       href="#phrases/details/{{synonim.id}}">
                        {{$last ? synonim.text : synonim.text + ', '}}
                    </a>
                </div>
            </div>
        </div>        
    </div>
    <p>
        <a href="#phrases/edit/{{vm.phrase.id}}">Edit</a> |
        <a href="#phrases">Back to List</a>
    </p>
</div>
