<div class="b-task-summary">
    <div class="b-row b-task-summary__header">
        <div class="b-col-6">
            <button-return-to-dashboard></button-return-to-dashboard>
        </div>
        <div class="b-col-6">
            <div class="pull-right">
                <button-run-task text="Run task again"
                                 ng-click="vm.onRunTaskAgainButtonClicked()">
                </button-run-task>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="b-task-summary__score">
                Your result: {{vm.summary.score}}
            </div>

            <div class="b-task-summary__phrases">
                <div ng-repeat="result in vm.summary.results">
                    <div class="b-row b-task-summary-phrase">
                        <div class="b-text b-task-summary-phrase__text">
                            {{result.entity.text}}
                        </div>
                        <div class="b-task-summary-phrase__delta">
                            <div class="b-highlighted-value"
                                 ng-class="{'b-highlighted-value_red': !result.isCorrect, 'b-highlighted-value_green': result.isCorrect,}">
                                <span ng-if="result.improvement > 0">+</span>{{result.improvement}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>