/* Page loading animation */
/*.b-page.ng-hide {
    -ms-opacity: 0;
    opacity: 0;
}

.b-page {
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -ms-opacity: 1;
    opacity: 1;
}*/