<div class="b-page b-edit-phrase" ng-hide="vm.isLoading">
    <h2>{{vm.isNew ? 'Create' : 'Edit'}}</h2>

    <div class="form-horizontal">
        <h4>Language</h4>
        <hr />

        <div class="form-group">
            <label class="control-label col-md-2">Phrase:</label>
            <div class="col-md-4">
                <text-input text="vm.text" validation-message="{{vm.textValidationError}}"></text-input>
            </div>
            <div class="col-md-6">
                <div class="btn-group" data-toggle="buttons" ng-if="vm.isNew">
                    <label class="btn btn-default" ng-model="vm.languageId" uib-btn-radio="1">
                        English
                    </label>
                    <label class="btn btn-default" ng-model="vm.languageId" uib-btn-radio="2">
                        Русский
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Translations:</label>
            <div class="col-md-10">
                <div class="b-edit-phrase-translations__row">
                    <input type="button"
                           class="btn btn-primary"
                           value="Add a translation"
                           ng-click="vm.onAddNewTranslationButtonClick()" />

                </div>
                <div class="b-edit-phrase-translations__row clearfix"
                     ng-repeat="ts in vm.translations">

                    <div class="pull-left b-edit-phrase-translation__block">
                        <input type="text" class="form-control" ng-model="ts.text" />
                        <span class="text-danger">{{ts.textValidationError}}</span>
                    </div>

                    <div class="pull-left b-edit-phrase-translation__block">
                        <select class="form-control"
                                ng-model="ts.prevalence"
                                convert-to-number>
                            <option value="40">Usual translation</option>
                            <option value="30">Unusual translation</option>
                            <option value="20">Rare translation</option>
                        </select>
                    </div>

                    <div class="pull-left b-edit-phrase-translation__block">
                        <button type="button"
                                class="btn btn-danger"
                                ng-click="vm.onDeleteTranslationButtonClicked(ts)">
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10 b-edit-phrase__save-block">
        <button type="button" class="btn btn-default" ng-click="vm.onSaveAndGotoListButtonClicked()">
            Save and go to list
        </button>
        <button type="button" class="btn btn-default" ng-click="vm.onSaveAndGotoDetailsButtonClicked()">
            Save and go to details
        </button>
    </div>
</div>

<div>
    <a href="#phrases">Back to List</a>
</div>