<div class="b-page b-task" ng-hide="vm.isLoading">
    <div ng-show="vm.state === 'starting'">
        <div class="b-sprint-task-timer-starting">
            <timer methods="vm.startingTimerDirective"
                   count="2"
                   on-elapsed="vm.onTimerDirectiveElapsed()">

            </timer>
        </div>
    </div>

    <div ng-show="vm.state === 'running'">
        <div class="b-row b-sprint-task-work-area__container">
            <div class="b-sprint-task-work-area">
                <div class="b-sprint-task-work-area__col-1">

                </div>
                <div class="b-sprint-task-work-area__col-2">
                    <div class="b-sprint-task-score">
                        <span class="b-sprint-task-score__text">{{vm.score}}</span>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="b-sprint-task-work-area__phrase">
                                {{vm.currentPhrase.text}}
                            </div>
                            <div class="b-sprint-task-work-area__translation">
                                {{vm.currentTranslation.text}}
                            </div>
                            <div class="b-sprint-task-work-area__buttons-area">
                                <hr />
                                <div class="b-sprint-task-work-area-buttons">
                                    <button class="btn btn-danger b-sprint-task-work-area-buttons__button"
                                            ng-click="vm.onIsNotCorrectButtonClicked()">
                                        НЕ верно
                                    </button>
                                    <button class="btn btn-success b-sprint-task-work-area-buttons__button"
                                            ng-click="vm.onIsCorrectButtonClicked()">
                                        Верно
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="b-sprint-task-work-area__col-3">
                    <div class="b-sprint-task-timer-running">
                        <timer methods="vm.runningTimerDirective"
                               count="vm.settings.totalTimeForTask"
                               on-elapsed="vm.onTimerDirectiveElapsed()">

                        </timer>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="vm.state === 'finished'" class="b-sprint-task-summary">
        <task-summary>

        </task-summary>        
    </div>
</div>