<h1>Sprint task</h1>

<div class="b-page" ng-hide="vm.isLoading">
    <div ng-show="vm.state === 'starting'">
        <timer methods="vm.startingTimerDirective"
               count="2"
               on-elapsed="vm.onTimerDirectiveElapsed()">

        </timer>
    </div>

    <div ng-show="vm.state === 'running'">
        <div class="b-row">
            <div>
                Score: {{vm.score}}
            </div>
            <div>
                <timer methods="vm.runningTimerDirective"
                       count="vm.settings.totalTimeForTask"
                       on-elapsed="vm.onTimerDirectiveElapsed()">

                </timer>
            </div>
        </div>
        <div>
            <div>
                {{vm.currentPhrase.text}}
            </div>
            <div>
                {{vm.currentTranslation.text}}
            </div>
            <div>
                <button class="btn btn-default"
                        ng-click="vm.onIsNotCorrectButtonClicked()">
                    НЕ верно
                </button>
                <button class="btn btn-default"
                        ng-click="vm.onIsCorrectButtonClicked()">
                    Верно
                </button>
            </div>
        </div>
    </div>

    <div ng-show="vm.state === 'finished'">
        <div>
            Score: {{vm.score}}
        </div>
        <div>
            <div ng-repeat="phrase in vm.phrases">
                <div>{{phrase.text}}</div>
                <div>Верно: {{phrase.correctAnswersCount}} НЕ верно: {{phrase.wrongAnswersCount}}</div>
            </div>
        </div>
        <div>

        </div>
    </div>
</div>