@model MyLanguagePalService.Areas.Site.Models.Controllers.Phrase.DetailsVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(m => m.Text)
        </dt>

        <dd>
            @string.Join(" ", Model.Translations)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
