@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Angular test</title>
    @Scripts.Render("~/bundles/angular")
</head>
<body>

<div ng-app="">
    <p>Name: <input type="text" ng-model="name">
    </p>
    <p ng-bind="name"></p>
</div>

</body>
</html>