@using System.Reflection
@using MyLanguagePal.Shared.AssemblyExtensions


<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Language Pal Application</title>

    <link href="/Content/deps/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/Content/deps/flag-icon/css/flag-icon.css" rel="stylesheet" />
    <link href="/Content/deps/angular/ngprogress.css" rel="stylesheet" />

    <link href="/Content/shared/shared.css" rel="stylesheet" />

    <link href="/Content/app/shared/shared.module.css" rel="stylesheet" />

    <link href="/Content/app/pages/shared/pagesShared.css" rel="stylesheet" />
    <link href="/Content/app/pages/shared/services/progressBar/progressBar.service.css" rel="stylesheet" />
    <link href="/Content/app/pages/shared/page/page.css" rel="stylesheet" />
    <link href="/Content/app/pages/shared/directives/textInput/textInput.directive.css" rel="stylesheet" />
    <link href="/Content/app/pages/shared/directives/timer/timer.css" rel="stylesheet" />
    <link href="/Content/app/pages/shared/directives/buttonReturnToDashboard/buttonReturnToDashboard.css" rel="stylesheet" />
    <link href="/Content/app/pages/shared/directives/buttonRunTask/buttonRunTask.css" rel="stylesheet" />

    <link href="/Content/app/pages/phrases/edit/phrasesEdit.css" rel="stylesheet" />
    <link href="/Content/app/pages/phrases/details/phraseDetails.css" rel="stylesheet" />

    <link href="/Content/app/pages/dashboard/dashboard.css" rel="stylesheet" />

    <link href="/Content/app/pages/tasks/shared/tasksShared.css" rel="stylesheet" />
    <link href="/Content/app/pages/tasks/shared/directives/taskSettingsTemplate/taskSettingsTemplate.css" rel="stylesheet" />
    <link href="/Content/app/pages/tasks/shared/directives/writeAnswerQuiz/writeAnswerQuiz.css" rel="stylesheet" />
    <link href="/Content/app/pages/tasks/shared/directives/taskSummary/taskSummary.css" rel="stylesheet" />
    <link href="/Content/app/pages/tasks/sprint/settings/sprintTaskSettings.css" rel="stylesheet" />
    <link href="/Content/app/pages/tasks/sprint/task/sprintTask.css" rel="stylesheet" />
    <link href="/Content/app/pages/tasks/writeTranslation/settings/writeTranslationTaskSettings.css" rel="stylesheet" />
    <link href="/Content/app/pages/tasks/writeTranslation/task/writeTranslationTask.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#dashboard" class="navbar-brand">My Language Pal</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Dictionary <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#phrases">Phrases</a></li>
                            <li><a href="#languages">Languages</a></li>
                        </ul>
                    </li>
                    <li><a href="#about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <div ng-view>
        </div>
        <hr />
        <footer>
            <div class="b-row">
                <div class="b-col-half b-text-left">
                    <p>&copy; @DateTime.Now.Year - My Language Pal Application</p>
                </div>
                <div class="b-col-half b-text-right">
                    <p>v@(Assembly.GetAssembly(typeof(MyLanguagePalApplication)).GetAssemblyVersion())</p>
                </div>
            </div>
        </footer>
    </div>

    @* Config *@
    @Html.AntiForgeryToken()

    @* App scripts *@
    <script src="/Content/deps/jquery/jquery-3.1.0.js"></script>
    <script src="/Content/deps/bootstrap/js/bootstrap.js"></script>
    <script src="/Content/deps/respond.js"></script>
    <script src="/Content/deps/angular/angular.js"></script>
    <script src="/Content/deps/angular/angular-route.js"></script>
    <script src="/Content/deps/angular/angular-animate.js"></script>
    <script src="/Content/deps/angular/angular-touch.js"></script>
    <script src="/Content/deps/angular/ui-bootstrap-tpls-2.2.0.js"></script>
    <script src="/Content/deps/angular/ngprogress.js"></script>

    <script src="/Content/app/shared/shared.module.js"></script>
    <script src="/Content/app/shared/resharper.js"></script>
    <script src="/Content/app/shared/utils.service.js"></script>
    <script src="/Content/app/shared/promiseQueue.js"></script>
    <script src="/Content/app/shared/rest.js"></script>
    <script src="/Content/app/shared/customError.js"></script>
    <script src="/Content/app/shared/arrayExtensions.js"></script>
    <script src="/Content/app/shared/stringExtensions.js"></script>
    <script src="/Content/app/shared/directives/convertToNumber.directive.js"></script>
    <script src="/Content/app/shared/directives/directiveWithMethods.js"></script>
    <script src="/Content/app/shared/directives/mlpEnter.js"></script>

    <script src="/Content/app/app.module.js"></script>
    <script src="/Content/app/pages/shared/services/config.service.js"></script>
    <script src="/Content/app/pages/shared/services/connector/httpError.js"></script>
    <script src="/Content/app/pages/shared/services/connector/networkError.js"></script>
    <script src="/Content/app/pages/shared/services/connector/connectorResult.js"></script>
    <script src="/Content/app/pages/shared/services/connector/validationResult.js"></script>
    <script src="/Content/app/pages/shared/services/connector/connector.service.js"></script>
    <script src="/Content/app/pages/shared/services/errorReporting/errorReporting.service.js"></script>
    <script src="/Content/app/pages/shared/services/progressBar/progressBar.service.js"></script>
    <script src="/Content/app/pages/shared/page/page.controller.js"></script>
    <script src="/Content/app/pages/shared/directives/textInput/textInput.directive.js"></script>
    <script src="/Content/app/pages/shared/directives/languageFlag/languageFlag.directive.js"></script>
    <script src="/Content/app/pages/shared/directives/languageSelection/languageSelection.directive.js"></script>
    <script src="/Content/app/pages/shared/directives/timer/timer.controller.js"></script>
    <script src="/Content/app/pages/shared/directives/timer/timer.directive.js"></script>
    <script src="/Content/app/pages/shared/directives/buttonReturnToDashboard/buttonReturnToDashboard.directive.js"></script>
    <script src="/Content/app/pages/shared/directives/buttonRunTask/buttonRunTask.directive.js"></script>

    <script src="/Content/app/pages/about/about.routes.js"></script>

    <script src="/Content/app/pages/languages/languages.service.js"></script>
    <script src="/Content/app/pages/languages/languages.routes.js"></script>
    <script src="/Content/app/pages/languages/index/languagesIndex.controller.js"></script>
    <script src="/Content/app/pages/languages/details/languagesDetails.controller.js"></script>
    <script src="/Content/app/pages/languages/edit/languagesEdit.controller.js"></script>
    <script src="/Content/app/pages/languages/delete/languagesDelete.controller.js"></script>

    <script src="/Content/app/pages/phrases/phrases.service.js"></script>
    <script src="/Content/app/pages/phrases/phrases.routes.js"></script>
    <script src="/Content/app/pages/phrases/index/phrasesIndex.controller.js"></script>
    <script src="/Content/app/pages/phrases/details/phraseDetails.controller.js"></script>
    <script src="/Content/app/pages/phrases/edit/phrasesEdit.controller.js"></script>
    <script src="/Content/app/pages/phrases/delete/phrasesDelete.controller.js"></script>

    <script src="/Content/app/pages/dashboard/dashboard.routes.js"></script>
    <script src="/Content/app/pages/dashboard/dashboard.controller.js"></script>

    <script src="/Content/app/pages/tasks/tasks.service.js"></script>
    <script src="/Content/app/pages/tasks/tasks.routes.js"></script>
    <script src="/Content/app/pages/tasks/shared/directives/taskSettingsTemplate/taskSettingsTemplate.directive.js"></script>
    <script src="/Content/app/pages/tasks/shared/directives/writeAnswerQuiz/writeAnswerQuiz.directive.js"></script>
    <script src="/Content/app/pages/tasks/shared/directives/taskSummary/taskSummary.directive.js"></script>
    <script src="/Content/app/pages/tasks/sprint/settings/sprintTaskSettings.controller.js"></script>
    <script src="/Content/app/pages/tasks/sprint/task/sprintTask.controller.js"></script>
    <script src="/Content/app/pages/tasks/writeTranslation/settings/writeTranslationTaskSettings.controller.js"></script>
    <script src="/Content/app/pages/tasks/writeTranslation/task/writeTranslationTask.controller.js"></script>

</body>
</html>
