<h1>Dashboard</h1>

<div>
    <div ng-repeat="task in vm.tasks"
         class="btn-group b-dashboard__task">
        <a href="#{{task.urls.task}}" class="btn btn-default">
            <span ng-if="task.name === 'writeTranslation'">Write translation</span>
            <span ng-if="task.name === 'sprint'">Sprint</span>
        </a>
        <a href="#{{task.urls.settings}}" class="btn btn-default">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
    </div>

    <br />
    <br />
    <div>
        <mlp-tags-input mlp-tags-input-type="'tags'"
                        value="vm.selectedTags">
        </mlp-tags-input>

        <div>
            <div ng-repeat="tag in vm.selectedTags">
                <span>{{tag.id}}</span>&nbsp;<span>{{tag.name}}</span>
            </div>
        </div>
    </div>
</div>